<h1>Listing open_graph_objects</h1>

<%= render 'tip' %>

<table>
  <tr>
    <th>Title</th>
	<th>OG Site Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @open_graph_objects.each do |open_graph_object| %>
  <tr>
    <td><%= open_graph_object.title %></td>
	<td><%= open_graph_object.og_site_name %></td>
    <td><%= link_to 'Prod', open_graph_object %> | </td>
    <td><%= link_to 'Staging', 'open_graph_objects/' + open_graph_object.id.to_s + '?staging=true' %> | </td>
    <td><%= link_to 'Edit', edit_open_graph_object_path(open_graph_object) %> | </td>
    <td><%= link_to 'Destroy', open_graph_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Open graph object', new_open_graph_object_path %>
