<% if @staging %>
	<script data-app-id="<%= @yammergration_yammer_staging_client_id %>" src="https://assets.staging.yammer.com/platform/yam.js"></script>
<% else %>
	<script data-app-id="<%= @yammergration_yammer_production_client_id %>" src="https://assets.yammer.com/platform/yam.js"></script>
<% end %>

<p id="notice"><%= notice %></p>

<% content_for :title, @open_graph_object.title %>
<% content_for :og_site_name, @open_graph_object.og_site_name %>
<% content_for :og_image, @open_graph_object.og_image %>
<% content_for :og_description, @open_graph_object.og_description %>
<% content_for :og_title, @open_graph_object.og_title %>
<% content_for :og_type, @open_graph_object.og_type %>
<% content_for :og_url, @open_graph_object.og_url %>

<%= link_to 'Edit', edit_open_graph_object_path(@open_graph_object) %> |
<%= link_to 'Back', open_graph_objects_path %>

<h2>HTML Elements</h2>

<%= render 'tip' %>

<p>
  <b>Title:</b>
  <%= @open_graph_object.title %>
</p>

<h2>OG Metadata in HTML Head</h2>
<p>
  <b>Og site name:</b>
  <% if @open_graph_object.og_site_name != "" %>
  	<%= @open_graph_object.og_site_name %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Og image:</b>
  <% if @open_graph_object.og_image != "" %>
  	<%= @open_graph_object.og_image %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Og description:</b>
  <% if @open_graph_object.og_description != "" %>
  	<%= @open_graph_object.og_description %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Og title:</b>
  <% if @open_graph_object.og_title != "" %>
  	<%= @open_graph_object.og_title %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Og type:</b>
  <% if @open_graph_object.og_type != "" %>
  	<%= @open_graph_object.og_type %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Og url:</b>
  <% if @open_graph_object.og_url != "" %>
  	<%= @open_graph_object.og_url %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>

<h2>Embed Like JS Properties</h2>
<p>
  <b>Embedlike network:</b>
  <% if @open_graph_object.embedlike_network != "" %>
  	<%= @open_graph_object.embedlike_network %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedlike op url:</b>
  <% if @open_graph_object.embedlike_op_url != "" %>
  	<%= @open_graph_object.embedlike_op_url %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedlike op type:</b>
  <% if @open_graph_object.embedlike_op_type != "" %>
  	<%= @open_graph_object.embedlike_op_type %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedlike op title:</b>
  <% if @open_graph_object.embedlike_op_title != "" %>
  	<%= @open_graph_object.embedlike_op_title %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedlike op image:</b>
  <% if @open_graph_object.embedlike_op_image != "" %>
  	<%= @open_graph_object.embedlike_op_image %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>

<h2>Embed Follow JS Properties</h2>
<p>
  <b>Embedfollow network:</b>
  <% if @open_graph_object.embedfollow_network != "" %>
  	<%= @open_graph_object.embedfollow_network %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfollow op url:</b>
  <% if @open_graph_object.embedfollow_op_url != "" %>
  	<%= @open_graph_object.embedfollow_op_url %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfollow op type:</b>
  <% if @open_graph_object.embedfollow_op_type != "" %>
  	<%= @open_graph_object.embedfollow_op_type %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfollow op title:</b>
  <% if @open_graph_object.embedfollow_op_title != "" %>
  	<%= @open_graph_object.embedfollow_op_title %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfollow op image:</b>
  <% if @open_graph_object.embedfollow_op_image != "" %>
  	<%= @open_graph_object.embedfollow_op_image %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>

<h2>Embed Feed JS Properties</h2>
<p>
  <b>Embedfeed network:</b>
  <% if @open_graph_object.embedfeed_network != "" %>
  	<%= @open_graph_object.embedfeed_network %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfeed op url:</b>
  <% if @open_graph_object.embedfeed_op_url != "" %>
  	<%= @open_graph_object.embedfeed_op_url %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfeed op type:</b>
  <% if @open_graph_object.embedfeed_op_type != "" %>
  	<%= @open_graph_object.embedfeed_op_type %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfeed op title:</b>
  <% if @open_graph_object.embedfeed_op_title != "" %>
  	<%= @open_graph_object.embedfeed_op_title %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>Embedfeed op image:</b>
  <% if @open_graph_object.embedfeed_op_image != "" %>
  	<%= @open_graph_object.embedfeed_op_image %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>

<div id="embed_stuff">
	<script>yam.connect.actionButton({
	  container: "#embed-like",
	  action: "like",
	  <% if @open_graph_object.embedlike_network %>network: "<%= @open_graph_object.embedlike_network %>",<% end %>

	  <% if @open_graph_object.embedlike_op_url || @open_graph_object.embedlike_op_type || @open_graph_object.embedlike_op_title || @open_graph_object.embedlike_op_image %>
	  objectProperties: {
		<% if @open_graph_object.embedlike_op_url %>url: "<%= @open_graph_object.embedlike_op_url %>",<% end %>
		<% if @open_graph_object.embedlike_op_type %>type: "<%= @open_graph_object.embedlike_op_type %>",<% end %>
		<% if @open_graph_object.embedlike_op_title %>title: "<%= @open_graph_object.embedlike_op_title %>",<% end %>
		<% if @open_graph_object.embedlike_op_image %>image: "<%= @open_graph_object.embedlike_op_image %>",<% end %>
	  }
	  <% end %>
	});</script>

	<script>yam.connect.actionButton({
	  container: "#embed-follow",
	  action: "follow",
	  <% if @open_graph_object.embedfollow_network %>network: "<%= @open_graph_object.embedfollow_network %>",<% end %>

	  <% if @open_graph_object.embedfollow_op_url || @open_graph_object.embedfollow_op_type || @open_graph_object.embedfollow_op_title || @open_graph_object.embedfollow_op_image %>
	  objectProperties: {
		<% if @open_graph_object.embedfollow_op_url %>url: "<%= @open_graph_object.embedfollow_op_url %>",<% end %>
		<% if @open_graph_object.embedfollow_op_type %>type: "<%= @open_graph_object.embedfollow_op_type %>",<% end %>
		<% if @open_graph_object.embedfollow_op_title %>title: "<%= @open_graph_object.embedfollow_op_title %>",<% end %>
		<% if @open_graph_object.embedfollow_op_image %>image: "<%= @open_graph_object.embedfollow_op_image %>",<% end %>
	  }
	  <% end %>
	});</script>

	<script>yam.connect.embedFeed({
	  container: "#embed-feed",
	  feedType: "open-graph",
	  <% if @open_graph_object.embedfeed_network %>network: "<%= @open_graph_object.embedfeed_network %>",<% end %>

	  <% if @open_graph_object.embedfeed_op_url || @open_graph_object.embedfeed_op_type || @open_graph_object.embedfeed_op_title || @open_graph_object.embedfeed_op_image %>
	  objectProperties: {
		<% if @open_graph_object.embedfeed_op_url %>url: "<%= @open_graph_object.embedfeed_op_url %>",<% end %>
		<% if @open_graph_object.embedfeed_op_type %>type: "<%= @open_graph_object.embedfeed_op_type %>",<% end %>
		<% if @open_graph_object.embedfeed_op_title %>title: "<%= @open_graph_object.embedfeed_op_title %>",<% end %>
		<% if @open_graph_object.embedfeed_op_image %>image: "<%= @open_graph_object.embedfeed_op_image %>",<% end %>
	  }
	  <% end %>
	});</script>

	<h2>Embed Like Button</h2>
	<div id="embed-like"></div>
	<h2>Embed Follow Button</h2>
	<div id="embed-follow"></div>
	<h2>Embed Object Feed</h2>
	<div id="embed-feed"></div>
</div>
