<p id="notice"><%= notice %></p>

<% content_for :title, @open_graph_object.title %>
<% content_for :og_site_name, @open_graph_object.og_site_name %>

<p>
  <b>Title:</b>
  <%= @open_graph_object.title %>
</p>

<p>
  <b>OG Site Name:</b>
  <% if @open_graph_object.og_site_name != "" %>
  	<%= @open_graph_object.og_site_name %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>

<p>
	<script>yam.connect.embedFeed({
	  container: "#embedded-feed",
	  network: "ognetwork.com",
	  feedType: "open-graph",
	});</script>

	<script>yam.connect.actionButton({
	  container: "#embedded-like",
	  network: "ognetwork.com",
	  action: "like"
	});</script>

	<script>yam.connect.actionButton({
	  container: "#embedded-follow",
	  network: "ognetwork.com",
	  action: "follow"
	});</script>

	<div id="embedded-like"></div>
	<div id="embedded-follow"></div>
	<div id="embedded-feed"></div>
</p>

<%= link_to 'Edit', edit_open_graph_object_path(@open_graph_object) %> |
<%= link_to 'Back', open_graph_objects_path %>
