<p id="notice"><%= notice %></p>

<% content_for :title, @open_graph_object.title %>
<% content_for :og_site_name, @open_graph_object.og_site_name %>
<% content_for :og_image, @open_graph_object.og_image %>
<% content_for :og_description, @open_graph_object.og_description %>
<% content_for :og_title, @open_graph_object.og_title %>
<% content_for :og_type, @open_graph_object.og_type %>
<% content_for :og_url, @open_graph_object.og_url %>

<p>
  <b>Title:</b>
  <%= @open_graph_object.title %>
</p>

<p>
  <b>OG Site Name:</b>
  <% if @open_graph_object.og_site_name != "" %>
  	<%= @open_graph_object.og_site_name %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>OG Image:</b>
  <% if @open_graph_object.og_image != "" %>
  	<%= @open_graph_object.og_image %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>OG Description:</b>
  <% if @open_graph_object.og_description != "" %>
  	<%= @open_graph_object.og_description %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>OG Title:</b>
  <% if @open_graph_object.og_title != "" %>
  	<%= @open_graph_object.og_title %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>OG Type:</b>
  <% if @open_graph_object.og_type != "" %>
  	<%= @open_graph_object.og_type %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
  <b>OG URL:</b>
  <% if @open_graph_object.og_url != "" %>
  	<%= @open_graph_object.og_url %>
  <% else %>
	<em>not specified</em>
  <% end %>
</p>
<p>
	<script>yam.connect.embedFeed({
	  container: "#embedded-feed",
	  network: "ognetwork.com",
	  feedType: "open-graph",
	});</script>

	<script>yam.connect.actionButton({
	  container: "#embedded-like",
	  network: "ognetwork.com",
	  action: "like"
	});</script>

	<script>yam.connect.actionButton({
	  container: "#embedded-follow",
	  network: "ognetwork.com",
	  action: "follow"
	});</script>

	<div id="embedded-like"></div>
	<div id="embedded-follow"></div>
	<div id="embedded-feed"></div>
</p>

<%= link_to 'Edit', edit_open_graph_object_path(@open_graph_object) %> |
<%= link_to 'Back', open_graph_objects_path %>
