<!DOCTYPE html>
<html>
<head>
  <title><% if yield(:title) != "" %><%= yield(:title) %><% else %>Yammergration<% end %></title>
  <% if yield(:og_site_name) != "" %><meta property="og:site_name" content="<%= yield(:og_site_name) %>"><% end %>
  <% if yield(:og_image) != "" %><meta property="og:image" content="<%= yield(:og_image) %>"><% end %>
  <% if yield(:og_description) != "" %><meta property="og:description" content="<%= yield(:og_description) %>"><% end %>
  <% if yield(:og_title) != "" %><meta property="og:title" content="<%= yield(:og_title) %>"><% end %>
  <% if yield(:og_type) != "" %><meta property="og:type" content="<%= yield(:og_type) %>"><% end %>
  <% if yield(:og_url) != "" %><meta property="og:url" content="<%= yield(:og_url) %>"><% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script data-app-id="bOeqDSuoVig6d914x9HEGw" src="https://assets.thunderdome.yammer.com/platform/yam.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
